@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

* {
  box-sizing: border-box;
}

html,
body {
  background: url(http://subtlepatterns.com/patterns/little_pluses.png) #cacaca;
  width: 100%;
  height: auto;
  font-family: "Gloria Hallelujah", cursive;
}

#notes-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo-generator {
  width: 280px;
  height: 240px;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.todo-generator div {
  display: block;
  width: 280px;
  height: 240px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* how-to button */
.how-to {
  position: absolute;
  top: 215px;
  left: 255px;
  font-size: 20px;
  cursor: pointer;
  color: darkgreen;
}

.todo-generator.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.todo-generator .input-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.explanation {
  font-size: 15px;
  color: darkred;
  margin-top: 50px;
}

/* dynamic div */
.newItem {
  position: relative;
  width: 280px;
  height: 240px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#text-area,
.new-text-area {
  padding: 35px 30px;
  margin: 0 20px 20px 0;
  width: 100%;
  height: 100%;
}

.new-text-area {
  position: absolute;
  resize: none;
  outline: none;
  width: 100%;
  border: none;
  height: 100%;
}

textarea,
.input-back {
  font: 15px "Gloria Hallelujah", cursive;
  line-height: 1.5;
  border: 0;
  border-radius: 3px;
  background: linear-gradient(#f9efaf, #f7e98d);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;
  font-smoothing: subpixel-antialiased;
  max-width: 520px;
  max-height: 250px;
}

/* save input */
.input-save {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  cursor: pointer;
  color: green;
}

/* close button */
.close-button {
  position: relative;
  color: red;
}

/* save button */
.save-button {
  position: absolute;
  bottom: 0;
  right: 18px;
  color: green;
}

.close-button,
.save-button {
  width: 35px;
  height: 35px;
  font-size: 25px;
  cursor: pointer;
}

.input-save,
.how-to,
.close-button,
.save-button {
  background-color: transparent;
  border: none;
}

.input-save:active,
.how-to:active,
.close-button:active,
.save-button:active {
  background-color: transparent;
  border: none;
  box-shadow: 0 5px;
  transform: translateY(4px);
}

.date-time {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 10px;
  border: 1px solid;
  background-color: deeppink;
  border-radius: 10px;
}